/****************************************************************************
VARIABLE
****************************************************************************/
//fontsize
$SIZE_LARGER : 30px;
$SIZE_LARGE : 25px;
$SIZE_MEDIUM  : 20px;
$SIZE_SMALL : 15px;
$SIZE_SMALLER : 10px;

//color
$lIGHT_GREEN : #83c9aa;
$LIGHT_GREY: #e0dada;
$DARK_GREY : #cccaca;
$DARKER_GREY : #6f6d6d;
$CLASSIC_ORANGE : #ff975f;

/****************************************************************************
GENERAL
****************************************************************************/
//font
@font-face {
	font-family: "expressway";
	src: url("../fonts/expressway/expressway rg.ttf") format("trueType");
}

//general
body
{
	// overflow-x: hidden;
	font-family: "expressway";
	margin: 0px;
	background-color: $LIGHT_GREY;
}

#home-content
{
	display: none;
}

ul
{
	list-style-type: none;
}

a
{
	margin:auto;
	float: right;
	list-style: none;
	color: white;
	text-decoration: none;
}

.over-x-hid
{
 overflow-x: hidden;
}

//band
.band-box
{
	min-height: 600px;
}

.full-band
{
	height: 260px;
	width: 100%;
}

.full-band-right
{
	position: absolute;
	height: 350px;
	width: 110vw;
	transform: translate(-50px, -100px) rotate(3deg);
	z-index:0;
}

.full-band-left
{
	position: absolute;
	height: 350px;
	width: 110vw;
	transform: translate(-50px, -100px) rotate(-3deg);
	z-index:0;
}

.separation-band
{
	position: absolute;
	height: 176px;
	width: 100%;
	z-index:1;
}

//parallax
.parallax
{
	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//circle
.circle-base {
	border-radius: 50%;
	behavior: url(PIE.htc);
}

//undisplayed
.undisplayed
{
	display:none;
}

//margin-top
.M-top-170
{
	margin-top: 170px;
}

.M-top-450
{
	margin-top: 450px;
}

//padding
.P-top-30
{
	padding-top: 30px;
}

/****************************************************************************
COLOR
****************************************************************************/
//background
//plain
.BG-light-green
{
	background-color: $lIGHT_GREEN;
}

.BG-dark-grey
{
	background-color: $DARK_GREY;
}

.BG-darker-grey
{
	background-color: $DARKER_GREY;
}

//transparent
.BG-classic-orange-trans
{
	background: rgba(167, 163, 162, 0.7);
}

.BG-lighter-green-trans
{
	background: rgba(167, 210, 191, 0.7);
}

//border color
.BC-classic-orange
{
	border: 1px solid $CLASSIC_ORANGE;
}

.BC-light-green
{
	border: 1px solid $lIGHT_GREEN;
}
//font color

/****************************************************************************
FOOTER.PHP
****************************************************************************/
#footer-band
{
	position: absolute;
	height: 80px;
	width: 100%;
	// transform: translate(-50px, -100px);
	z-index:0;
}


/****************************************************************************
SIDEMENU.PHP
****************************************************************************/
#sidemenu
{
	position: fixed;
	left: -305px;
	z-index: 3;
}

.tab
{
	border: 1px solid white;
	transition-duration: 0.5s;
	margin-bottom: 5px;
	width: 300px;
	background-color: $DARKER_GREY;
	height: 40px;
	text-align: center;
}

.menu-icon
{
	float: right;
}

.menu-link
{
	display: flex;
	margin-top: 10;
	margin-right: 5px;
}

.label-link
{
	margin-right: 15px;
}


/****************************************************************************
HOME.PHP
****************************************************************************/
//doors
#door-frame
{
	display: none;
	height: 100%;
}

#door1
{
	position: absolute;
	width: 0;
	height: 0;
	border: 100vh solid;
	border-left-width: 100vw;
	border-bottom: none;
	border-right: none;
	border-color: #6f6d6d transparent;
}

.door1-open
{
	transition-duration: 1.5s;
	transform : translate(0px, -1000px);
}

.door2-open
{
	transition-duration: 1.5s;
	transform : translate(-2000px, 0px);
}

#door2
{
	position: absolute;
	width: 0;
	height: 0;
	border: 100vh solid;
	border-left-width: 100vw;
	border-bottom: none;
	border-right: none;
	border-color: transparent $DARK_GREY;
}

#door-box
{
	margin:auto;
	margin-bottom: 50vh;
}

.title-box
{
	position: relative;
	text-align: center;
}

#enter-box
{
	position: relative;
	text-align: center;
	font-size: $SIZE_MEDIUM;
	width: 100px;
	padding: 10px;
	background-color: #257a2b;
	margin: auto;
}

#enter-box:hover
{
	cursor: pointer;
	background-color: #2d9034;
}

//background
.BG-home
{
	background-image: url('../img/background/home.jpg');
}


.BG-formation
{
	background-image: url('../img/background/formation.jpg');
}

.BG-exppro
{
	background-image: url('../img/background/exppro.jpg');
}

.BG-project
{
	background-image: url('../img/background/project.png');
}

//content
.centered-box
{
	height: 320px;
	margin: auto;
	margin-top: 30px;
}

.text-box
{
	width: 70vw;
	margin-left: 15vw;
	word-wrap: break-word;
	text-align: justify;
	background: rgba(165,159,159, 0.5);
}

.link-button
{
	display: flex;
	position: relative;
	cursor: pointer;
	font-size: $SIZE_MEDIUM;
	width: 140px;
	padding: 10px;
	background: rgba(131,201,170, 0.3);
	margin: auto;
}

.link-button:hover
{
	background: rgba(131,201,170, 1);
}

/****************************************************************************************************
FORMATION.PHP
****************************************************************************************************/

//background
.BG-SIO
{
	width:100%;
	height:100%;
	background-image: url('../img/background/lycee.jpg');
}

.BG-STI
{
	width:100%;
	height:100%;
	background-image: url('../img/background/lycee2.jpg');
}

//button
.button-middle
{
	z-index: 2;
	display: flex;
	cursor: pointer;
	margin: auto;
	min-width: 280px;
	width: 280px;
	height: 280px;
	border: 3px solid $LIGHT_GREY;
}

.button-label
{
	cursor: pointer;
	font-size: 40px;
	margin: auto;
}

//others
.formation-box
{
	display: flex;
	background-color: $DARK_GREY;
	min-height: 900px;
	height: 100%
}

.button-middle-active-ora
{
	color: white;
	background-color: $CLASSIC_ORANGE;
	border: 3px solid $LIGHT_GREY;
}

.button-middle-active-gre
{
	color: white;
	background-color: $lIGHT_GREEN;
	border: 3px solid $LIGHT_GREY;
}

.formation-content
{
	position: absolute;
	text-align: justify;
	display: flex;
	height: 100%;
	width: 100%;
}

.top-box
{
	margin: auto 0 auto 100px;
}

.bot-box
{
	margin: auto 100px auto 0px;
}

.top-left
{
	padding: 15px;
	width: 500px;
	margin: 40px 0px 0px 0px;
}

.top-right
{
	padding: 15px;
	width: 500px;
	margin: 40px 0px 0px 0px;
}

.bot-left
{
	padding: 15px;
	width: 500px;
	margin: 40px 0px 0px 85px;
}

.bot-right
{
	padding: 15px;
	width: 500px;
	margin: 40px 85px 0px 0px;
}

/****************************************************************************************************
EXPPRO.PHP
****************************************************************************************************/
#exppro-content
{

}

.triangle-box
{
	position: relative;
	width: 100%;
}

.triangle-text
{
	text-align: justify;
	position: relative;
	opacity: 0;
	height: 0;
	padding: 0 25px;
	transition: opacity .4s ease, height .8s ease;
}

.triangle-text-show0
{
	height: 100%;
	opacity: 1;
	transition: opacity .4s .4s ease, height .8s ease;
}

.triangle-text-show1
{
	height: 100%;
	opacity: 1;
	transition: opacity .4s .4s ease, height .8s ease;
	// transform: translate3d(0, -30%, 0);
}

.triangle-text-show2
{
	height: 100%;
	opacity: 1;
	transition: opacity .4s .4s ease, height .8s ease;
	// transform: translate3d(0, -80%, 0);
}

svg
{
	z-index: -1;
}


.triangle
{
	position: relative;
	z-index: -1;
	width:100%;
	// height:100%;
}

.exppro-button
{
	width: inherit;

	.circle-base
	{
		position: absolute;
		text-align: center;
	}
}

#E-button0
{
	left:60%;
	transform: translate3d(0, 100%, 0);
}

#E-button1 {
	left: 20%;
	transform: translate3d(0, -50%, 0);
}

#E-button2 {
	left: 60%;
	transform: translate3d(0, -200%, 0);
}



@for $i from 1 through 1
{
	$translate : $i * 50%;

	#exppro#{$i}
	{
		transition-duration: 1.5s;
		transform: translate3d(0, -$translate, 0);
	}
}

#exppro2
{
	transition-duration: 1.5s;
}

.exppro-last
{
	transition-duration: 1.5s;
	transform: translate3d(0, -200%, 0);
}

$colors: (
  0  : $DARKER_GREY,
  1  : $lIGHT_GREEN,
  2  : $DARK_GREY
);

@each $name, $color in $colors
{
	#exppro#{$name}
	{
		.triangle{
			fill: $color;
		}
	}
}

//<polygon points="100 0, 0 50, 100 100"></polygon>