/****************************************************************************
VARIABLE
****************************************************************************/
/****************************************************************************
GENERAL
****************************************************************************/
@font-face {
  font-family: "expressway";
  src: url("../fonts/expressway/expressway rg.ttf") format("trueType");
}
/* line 28, ../sass/style.scss */
body {
  font-family: "expressway";
  margin: 0px;
  background-color: #e0dada;
}

/* line 36, ../sass/style.scss */
#page-content {
  display: none;
}

/* line 41, ../sass/style.scss */
ul {
  list-style-type: none;
}

/* line 46, ../sass/style.scss */
a {
  margin: auto;
  float: right;
  list-style: none;
  color: white;
  text-decoration: none;
}

/* line 56, ../sass/style.scss */
.band-box {
  min-height: 600px;
}

/* line 61, ../sass/style.scss */
.full-band {
  position: absolute;
  height: 260px;
  width: 100%;
  z-index: 0;
}

/* line 69, ../sass/style.scss */
.full-band-right {
  position: absolute;
  height: 350px;
  width: 110vw;
  transform: translate(-50px, -100px) rotate(3deg);
  z-index: 0;
}

/* line 78, ../sass/style.scss */
.full-band-left {
  position: absolute;
  height: 350px;
  width: 110vw;
  transform: translate(-50px, -100px) rotate(-3deg);
  z-index: 0;
}

/* line 87, ../sass/style.scss */
.separation-band {
  position: absolute;
  height: 176px;
  width: 100%;
  z-index: 1;
}

/* line 96, ../sass/style.scss */
.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 109, ../sass/style.scss */
.circle-base {
  border-radius: 50%;
  behavior: url(PIE.htc);
}

/* line 115, ../sass/style.scss */
.undisplayed {
  display: none;
}

/* line 121, ../sass/style.scss */
.M-top-170 {
  margin-top: 170px;
}

/* line 127, ../sass/style.scss */
.P-top-30 {
  padding-top: 30px;
}

/****************************************************************************
COLOR
****************************************************************************/
/* line 137, ../sass/style.scss */
.BG-light-green {
  background-color: #83c9aa;
}

/* line 142, ../sass/style.scss */
.BG-dark-grey {
  background-color: #cccaca;
}

/* line 147, ../sass/style.scss */
.BG-darker-grey {
  background-color: #6f6d6d;
}

/* line 153, ../sass/style.scss */
.BG-classic-orange-trans {
  background: rgba(167, 163, 162, 0.7);
}

/* line 158, ../sass/style.scss */
.BG-lighter-green-trans {
  background: rgba(167, 210, 191, 0.7);
}

/* line 164, ../sass/style.scss */
.BC-classic-orange {
  border: 1px solid #ff975f;
}

/* line 169, ../sass/style.scss */
.BC-light-green {
  border: 1px solid #83c9aa;
}

/****************************************************************************
FOOTER.PHP
****************************************************************************/
/* line 178, ../sass/style.scss */
#footer-band {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 0;
}

/****************************************************************************
SIDEMENU.PHP
****************************************************************************/
/* line 191, ../sass/style.scss */
#sidemenu {
  position: fixed;
  left: -305px;
  z-index: 3;
}

/* line 198, ../sass/style.scss */
.tab {
  border: 1px solid white;
  transition-duration: 0.5s;
  margin-bottom: 5px;
  width: 300px;
  background-color: #6f6d6d;
  height: 40px;
  text-align: center;
}

/* line 209, ../sass/style.scss */
.menu-icon {
  float: right;
}

/* line 214, ../sass/style.scss */
.menu-link {
  display: flex;
  margin-top: 10;
  margin-right: 5px;
}

/* line 221, ../sass/style.scss */
.label-link {
  margin-right: 15px;
}

/****************************************************************************
HOME.PHP
****************************************************************************/
/* line 231, ../sass/style.scss */
#door-frame {
  display: none;
  height: 100%;
}

/* line 237, ../sass/style.scss */
#door1 {
  position: absolute;
  width: 0;
  height: 0;
  border: 100vh solid;
  border-left-width: 100vw;
  border-bottom: none;
  border-right: none;
  border-color: #6f6d6d transparent;
}

/* line 249, ../sass/style.scss */
.door1-open {
  transition-duration: 1.5s;
  transform: translate(0px, -1000px);
}

/* line 255, ../sass/style.scss */
.door2-open {
  transition-duration: 1.5s;
  transform: translate(-2000px, 0px);
}

/* line 261, ../sass/style.scss */
#door2 {
  position: absolute;
  width: 0;
  height: 0;
  border: 100vh solid;
  border-left-width: 100vw;
  border-bottom: none;
  border-right: none;
  border-color: transparent #cccaca;
}

/* line 273, ../sass/style.scss */
#door-box {
  margin: auto;
  margin-bottom: 50vh;
}

/* line 279, ../sass/style.scss */
.title-box {
  position: relative;
  text-align: center;
}

/* line 285, ../sass/style.scss */
#enter-box {
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 100px;
  padding: 10px;
  background-color: #257a2b;
  margin: auto;
}

/* line 296, ../sass/style.scss */
#enter-box:hover {
  cursor: pointer;
  background-color: #2d9034;
}

/* line 303, ../sass/style.scss */
.BG-home {
  background-image: url("../img/background/home.jpg");
}

/* line 309, ../sass/style.scss */
.BG-formation {
  background-image: url("../img/background/formation.jpg");
}

/* line 314, ../sass/style.scss */
.BG-exppro {
  background-image: url("../img/background/exppro.jpg");
}

/* line 319, ../sass/style.scss */
.BG-project {
  background-image: url("../img/background/project.png");
}

/* line 325, ../sass/style.scss */
.centered-box {
  height: 320px;
  margin: auto;
  margin-top: 30px;
}

/* line 332, ../sass/style.scss */
.text-box {
  width: 70vw;
  margin-left: 15vw;
  word-wrap: break-word;
  text-align: justify;
  background: rgba(165, 159, 159, 0.5);
}

/* line 341, ../sass/style.scss */
.link-button {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  width: 140px;
  padding: 10px;
  background: rgba(131, 201, 170, 0.3);
  margin: auto;
}

/* line 353, ../sass/style.scss */
.link-button:hover {
  background: #83c9aa;
}

/****************************************************************************************************
FORMATION.PHP
****************************************************************************************************/
/* line 363, ../sass/style.scss */
.BG-SIO {
  width: 100%;
  height: 100%;
  background-image: url("../img/background/lycee.jpg");
}

/* line 370, ../sass/style.scss */
.BG-STI {
  width: 100%;
  height: 100%;
  background-image: url("../img/background/lycee2.jpg");
}

/* line 377, ../sass/style.scss */
.formation-box {
  display: flex;
  background-color: #cccaca;
  min-height: 900px;
  height: 100%;
}

/* line 385, ../sass/style.scss */
.formation-middle {
  z-index: 1;
  display: flex;
  cursor: pointer;
  margin: auto;
  min-width: 260px;
  height: 260px;
  border: 3px solid #e0dada;
}

/* line 396, ../sass/style.scss */
.formation1-middle-active {
  color: white;
  background-color: #ff975f;
  border: 3px solid #e0dada;
}

/* line 403, ../sass/style.scss */
.formation2-middle-active {
  color: white;
  background-color: #83c9aa;
  border: 3px solid #e0dada;
}

/* line 410, ../sass/style.scss */
.formation-label {
  cursor: pointer;
  font-size: 40px;
  margin: auto;
}

/* line 417, ../sass/style.scss */
.formation-content {
  position: absolute;
  text-align: justify;
  display: flex;
  height: 100%;
  width: 100%;
}

/* line 426, ../sass/style.scss */
.top-box {
  margin: auto 0 auto 100px;
}

/* line 431, ../sass/style.scss */
.bot-box {
  margin: auto 100px auto 0px;
}

/* line 436, ../sass/style.scss */
.top-left {
  padding: 15px;
  width: 500px;
  margin: 40px 0px 0px 0px;
}

/* line 443, ../sass/style.scss */
.top-right {
  padding: 15px;
  width: 500px;
  margin: 40px 0px 0px 0px;
}

/* line 450, ../sass/style.scss */
.bot-left {
  padding: 15px;
  width: 500px;
  margin: 40px 0px 0px 85px;
}

/* line 457, ../sass/style.scss */
.bot-right {
  padding: 15px;
  width: 500px;
  margin: 40px 85px 0px 0px;
}
